@page
@model EComAdmin.Pages.UserManagement.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="user.Name" class="control-label"></label>
                <input asp-for="user.Name" class="form-control" />
                <span asp-validation-for="user.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.Email" class="control-label"></label>
                <input asp-for="user.Email" class="form-control" />
                <span asp-validation-for="user.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Repeat_Password" class="control-label">Repeat Password</label>
                <input asp-for="Repeat_Password" class="form-control" type="password" />
                <span asp-validation-for="Repeat_Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.Address" class="control-label"></label>
                <input asp-for="user.Address" class="form-control" />
                <span asp-validation-for="user.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.PhoneNumber" class="control-label"></label>
                <input asp-for="user.PhoneNumber" class="form-control" />
                <span asp-validation-for="user.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.Role" class="control-label"></label>
                <select asp-for="user.Role" class="form-control"
                        asp-items="@Html.GetEnumSelectList<EComBusiness.HelperModel.UserRole>()"></select>
                <span asp-validation-for="user.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
