[Unit]
Description=ECom backend
After=network.target

[Service]
Type=idle
User=root
Restart=on-failure
WorkingDirectory=/home/ECom
ExecStart=/bin/dotnet /home/ubuntu/ECom/ECom.dll

[Install]
WantedBy=multi-user.target